  .card-container {
    width: 24rem;
  }

  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  

  .feedback-message {
    margin-top: 10px;
    text-align: center;
  }

  body.dark-mode .card-container {
    background-color: #333;
    color: white;
  }